body {
  display: grid;
  width: 100%;
  grid-template-areas: "head head"
  "main main"
  "footer footer";
  grid-template-rows: 175px 1fr 100px;
  grid-template-columns: 1fr 1fr;
}

header {
  grid-area: head;
  background-color: #393851;
}

header > h1 {
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  color: white;
}

header > img {
  display:block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  grid-area: main;
}
