.MainAdmin {
  text-align: center;
}

.MainAdmin-logo {
  animation: MainAdmin-logo-spin infinite 20s linear;
  height: 80px;
}

.MainAdmin-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.MainAdmin-title {
  font-size: 1.5em;
}

.MainAdmin-intro {
  font-size: large;
}

@keyframes MainAdmin-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
